// *********************************
// LoginRegisterModal
// *********************************

.modal {
  position: absolute;
  top: 25px;
  left: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 75px;

  &--success {
    background: green;
  }

  &--error {
    background: red;
  }

  &__info {
    color: white;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
  }
}
