// *********************************
// LoginRegisterModal
// *********************************

.modal {
  position: absolute;
  top: 25px;
  left: calc(50% - 500px/2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 500px;
  height: auto;
  padding: 20px 16px;

  &--success {
    background: green;
  }

  &--error {
    background: red;
  }

  &__info {
    color: white;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
  }
}
