*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

body{
  font-size: 16px;
}

button{
  border: none;
}

a{
  text-decoration: none;
}
